@import url(../runo/styles.css);

.v-formlayout-captioncell {
	text-align: left;
}

.v-textfield {
	text-align: right;
}

.v-formlayout-row {
	text-align: center;
}
.v-caption {
	
}

.v-label {
	margin-top: 5px;
}

.v-readonly, .v-textfield-readonly {
	font-weight:bold;
}

.v-formlayout-contentcell {
	text-align: left;
}

.v-textfield-error {
	background : #ffebe8;
}

.v-errorindicator {
	background: none;
	width: 0px;
	height: 0px;
}

.v-required-field-indicator{
	visibility: hidden;
}

.title-label {
	font-size: 20px;
}